$color-principal: #002b59;
$color-global: #4a4a4a;

$color-yellow: #ffd88c;

$color-blue-material-100: #e6edf2;
$color-blue-material-200: #bfcfdd;
$color-blue-material-300: #80a1bc;
$color-blue-material-400: #407199;
$color-blue-material-500: #004177;
$color-blue-material-600: #003765;
$color-blue-material-700: #003159;
$color-blue-material-800: #00213c;
$color-blue-material-900: #00101e;
$color-blue-material-1000: #00070c;

$queencolor-blue: #4a90e2;
$queencolor-white: #ffffff;
$queencolor-yellow: #f7ff68;
$queencolor-red: #ff3f3f;
$queencolor-green: #59c737;
