@font-face {
  src: url('/fonts/Jost-VF.woff2') format('woff2-variations');
  font-family:'Jost';
  font-style: normal;
  font-weight: 1 999;
  font-display: swap;
}

$font-family-sans-serif: 'Jost', sans-serif;